<p id="notice"><%= notice %></p>


<h1> <%= @user.username %> </h1>

<p>
  <% if @user.ratings.empty? %>
      has not rated any beers yet!
  <% else %>
      <%= @user.average_rating %> <br>
      Favorite beer style: <%= @user.favorite_beer_style %> <br>
      Favorite brewery: <%= @user.favorite_brewery.name %>
  <% end %>
</p>

<h2>ratings</h2>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete,  data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<% if @user == current_user %>
    <%= link_to 'Change password', edit_user_path(@user) %> |
    <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
