<p id="notice"><%= notice %></p>


<h1> <%= @user.username %> </h1>
<% if @user.cold %>
<td><button type="button " class="btn btn-danger btn-xs" disabled="disabled">account frozen</button></td>
<% end %>

<p>
  <% if @user.ratings.empty? %>
      has not rated any beers yet!
  <% else %>
      Has made <%= pluralize(@user.ratings.count, 'rating') %>, average: <%= @user.average_rating %> <br>
      Favorite beer style: <%= @user.favorite_beer_style %> <br>
      Favorite brewery: <%= @user.favorite_brewery.name %>
  <% end %>
</p>

<h2>Beer clubs</h2>

<h4>confirmed member of</h4>
<ul>
  <% @user.memberships.each do |m| %>
      <% if m.confirmed %>
    <li><%= link_to "#{m.beer_club.name}" %></li>
      <% end %>
  <% end %>
</ul>
<h4>applied to membership of</h4>
<ul>
  <% @user.memberships.each do |m| %>
      <% unless m.confirmed %>
          <li><%= link_to "#{m.beer_club.name}" %></li>
      <% end %>
  <% end %>
</ul>

<h2>ratings</h2>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete,  data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>
<% unless current_user.nil? %>
<% if current_user.admin %>
    <% if @user.cold %>
        <%= link_to "Unfreeze account", toggle_coldness_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% else %>
        <%= link_to "Freeze account", toggle_coldness_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% end %>
<% end %>
<% if @user == current_user %>
    <%= link_to 'Change password', edit_user_path(@user) %> |
    <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>
