<h2>Ratings</h2>
<p>Number of ratings: <%= @ratings.count %> </p>
<p><%= link_to 'Add new rating', new_rating_path, class:"btn btn-success" %> </p>


  <ul>
    <div class="col-sm-9">
<div class="row">
  <div class="col-xs-6 col-sm4">
  <%= render 'top', name: "breweries", :top => @topBreweries %>
  </div>
  <div class="col-xs-6 col-sm4">
  <%= render 'top', name: "beers", :top => @topBeers %>
    </div>
    <div class="col-xs-6 col-sm4">
  <%= render 'top', name: 'styles', :top => @topStyles %>
      </div>
</div>

  <%= render 'active', name: "users", :active => @topUsers %>
  <%= render 'recent', :recent_ratings => @recentRatings %>
    </div>
</ul>

